 
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
  }
  
  
  .logo {
    height: 65px;
    filter: invert(100%);
  }
  
  .header {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../resource/img/bg.jpg');
    background-position: center;
    background-size: auto 100%; 
    background-repeat: no-repeat;
}

.car1{
  background-color: #1c1c1cb5;
}
  .gallery {
    min-height: 100vh;
    overflow: hidden;
  }

  

.about_us {
  min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../resource/img/bg.jpg');
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
  padding-bottom: 10vh;
}

.footer{
  min-height: 5vh;
  background-color: #1c1c1c;
}




